@import "compass";
@import "susy";



@import "Components/button";




html{
	body{
		font-family: "Times New Roman";
		@include background-image(radial-gradient(45px 45px, dodgerblue 10px, white 30px));
	}


	nav {
		@include container(4);
		>span{
  			@include span(1 of 4);
  			&:last-child{ @include span(1 of 4 last) }
		}
	}

	#menu {
		width: 100%;
		background: pink;
		
		span {
			padding-left: 20px;
			padding-right: 20px;
			font-size: 40px;
			cursor: pointer;
			
			&.focused {
				background: white;
			}
		}


	}


}


.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}